# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage/

# macOS
.DS_Store

# IDE
.vscode/
